= render partial: 'shared/navigator'

.container.proto-list
  .row
    = render partial: 'prototypes/prototype', collection: @prototypes

.text-center
  = paginate(@prototypes, remote: true, params: {order_by: "Newest"})
