.thumbnail
  = link_to tag_path(tag.id) do
    %button{ name: "button", type: "submit", class: "btn btn-tag" }
      = tag.name
  .tag-meta
    = link_to tag_path(tag.id), class: "label label-default tag-list-number" do
      tag_count
      %i Projects
