.thumbnail
  = link_to "#" do
    %button{ name: "button", type: "submit", class: "btn btn-tag" }
      tag_name
  .tag-meta
    = link_to "#", class: "label label-default tag-list-number" do
      tag_count
      %i Projects
